@media screen and (min-width: 640px) {

    /* 1. /index */


    /* 1. gallery */
    .gallery a img {
        margin-bottom: var(--mb-1);
    }
}

/* For medium devices */
@media screen and (min-width: 960px) {
    .xl__text {
        font-size: 5rem; /* 80px */
    }

    .lg__text {
        font-size: 2.5rem; /* 40px */
    }

    .flex-column {
        padding: 0 12px;
    }

    /*
        1. index
    */

    /* 1. /index */
    /* About */
    .about__me-wrap p {
        font-size: 1.25rem; /* 20px */
    }
}

@media screen and (min-width: 1200px) {

    /* 
        hide mobile header above this breakpoint
    */
    #header__mobile,
    #mobile__header-menu {
        display: none;
    }

    #header__desktop,
    .header__desktop {
        position: fixed;
        display: block;
        width: 100%;
    }

    .nav__desktop-right {
        margin-left: auto;
    }

    .ul.nav__right-links {
        gap: 2rem; /* 32px */
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .dsktop__nav-link-item a {
        padding-left: 0.5rem; /* 8px */
        padding-right: 0.5rem;
        font-weight: var(--font-bold-heavy);
        letter-spacing: var(--letter-spacing-wide);
        font-size: var(--h3-font-size);
        transition: .1s ease-in-out;
        color: #fff;
    }

        .dsktop__nav-link-item a:hover {
            color: var(--accent-color);
        }

        .dsktop__nav-link-item a.active {
            color: var(--accent-color);
        }

    /* Flex columns */
    .flex-2-column {
        flex-direction: row;
    }

    /* About */

}
