@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3 bg-white add-bx-shadow">
        <h1 class="text-body-emphasis">Welcome to TheKitchenShop.com</h1>
        <p class="col-lg-8 mx-auto fs-5">
            This is a demo website using Asp.Net core and .Net Maui
        </p>
    </div>
</section>

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
