@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section id="welcome" class="section">
    <div class="container flex expand-grid">
        <div class="welcome__inner-wrap">
            <h1>
                TheKitchenShop.com <br />
                Backend service app
            </h1>
        </div>
    </div>
</section>
