<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheKitchenShop</title>
    <link rel="stylesheet" href="~/TKS.Web.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,700;0,800;0,900;0,1000;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <div id="app">
        <partial name="_Mobile__header" />
        <partial name="_Desktop_Header" />


        <div class="main__content">
            @RenderBody()
        </div>

        <partial name="_Footer" />

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true" type="module"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>