@page
@model TKS.Web.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Add a new product";
}

<section class="section" id="all_products">
    <div class="container flex">
        <p class="section__label touppersection__label">Products</p>
        <form id="form_edit-create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset class="field__set">
                <legend class="form__legend">Add a new product item</legend>
                <div class="form__margin">
                    <label asp-for="Product.Title" class="control-label"></label>
                    <input asp-for="Product.Title" class="form__input" placeholder="Product title" aria-label="Product title" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="Product.Description" class="control-label"></label>
                    <input asp-for="Product.Description" class="form__input" placeholder="Product description" aria-label="Product description" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="Product.CategoryId" class="control-label"></label>
                    <select asp-for="Product.CategoryId" class="form__selectlist" asp-items="new SelectList(Model.Product.Categories,
                    nameof(TKS.Core.Models.Category.Id), nameof(TKS.Core.Models.Category.Name))">
                        <option>Please Select</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="Product.Price" class="control-label"></label>
                    <input asp-for="Product.Price" class="form__input" placeholder="Product price" aria-label="Product price" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="Product.StockCount" class="control-label"></label>
                    <input asp-for="Product.StockCount" class="form__input" placeholder="Product stock count" aria-label="Product stock count" />
                    <span asp-validation-for="Product.StockCount" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="Product.Photo" class="control-label"></label>
                    <input asp-for="Product.Photo" class="form__input" placeholder="Product photo" aria-label="Product photo" />
                    <span asp-validation-for="Product.Photo" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <input type="submit" valuse="SUBMIT" class="btn btn__default form__button" />
                </div>
            </fieldset>
        </form>

        <br />
        <div>
            <a asp-page="Index">Back to List</a>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
